@charest "utf-9";

* {
  font-family: 'Old Standard TT', serif;
}
*{
	border: 0px solid black;
}
body {
  margin-bottom: 80px;
  padding: 0;
  
}

.container {
	height: 55px;
}
.navbar {
	position: relative;
	height: 10px;
	width: 100%;
	border: 0px;
	background-color: #FFF;

}

#search {
	padding-top: 10px;
	display: inline-block;
	position: relative;
	float: right;
	color: #7d8187;
}

.social {
	padding-top: 12px;
	display: inline-block;
}

.dropdownnav {
	background-color: #fff;
	position: relative;
	left: 16px;
}

.header {

}
.navbar .navbar-nav {

	position: relative;
    display: inline-block;
    float: none;
    
}

.navbar .navbar-collapse {
	position: relative;
    text-align: center;
    background-color: #FFF;
}

#myCarousel {
	position: relative;
	padding-bottom: 35px;
}

.article {
	background-color: black;
	height: 2500px;
}
.panel {
	background-color: #333333;
	border: 0px;
}
.page-header {
	
	margin-top: 30px;
	background-color: #333333;
}
.panel-body {
	color: #333;
	padding-top: 0;
}
p, h3, h4 {
	color: #FFF;
}

.list-group-item {
	background-color: #333;
}

.featuredImg {
	margin-bottom: 15px;
}

